<!--- LOG IN PAGE (MAIN PAGE) -->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('templates/head'); %> <!-- head.ejs (CSS OF LOG IN PAGE)-->
</head>

<style>
    /* Main Style */
	body{
    background-repeat: no repeat;
	background-attachment: fixed;
	background-size: cover;
	}

    #logo1{
        border-radius: 100%;
    }
</style>

<body>
        <div class = "icon">
        <div class="logo">
            <center><img src = "img/main.png" style="height: 100px; width: 100px;" id="logo1"></center>
        </div> 
    
        <div class="welcome-container">
            <h1 class="welcome">Welcome to Chat Bot!</h1>
        </div>
    
        <!--- LOG IN AREA -->
        <div class="login-page">
            <form>
                <div class="txt-field">
                    <h4 id="username">Username</h4>
                    <input type="text"  placeholder="Enter Username" required> 
                </div>
                <div class="txt-field">
                    <h4 id="password">Password</h4>
                    <input type="password"  placeholder="Enter Password" required>
                </div>
                <button type="submit" id="login-button" >Log In</button>
            </form> 
        </div>
    
        <!--- modal.ejs (MODAL & FUNCTIONS)-->
        <%- include('templates/modal'); %> 

        <!---- DIRECT TO SIGN UP PAGE -->
    <div class="sign-up">Don't have an account?
        <a href="/signup" class="no-underline">Sign Up</a>
    </div>
    </div>
    
    <!--- FOOTER AREA (footer.ejs)-->
    <footer>
        <%- include('templates/footer'); %>
    </footer>

</body>
</html>